* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  .menu {
    position: fixed;
    margin: 10px 10px 10px 10px;
    .top {
      height: 18px;
      width: 80px;
      background-color: black;
      margin-bottom: 13px;
    }
    .middle {
      height: 18px;
      width: 80px;
      background-color: black;
      margin-bottom: 13px;
    }
    .bottom {
      height: 18px;
      width: 80px;
      background-color: black;
    }
  }
  .logo {
    height: 80px;
    margin: 10px 10px 0 0;
    z-index: 1;
  }
}
.menu:hover .top {
  animation: spin 1s;
}
.menu:hover .middle {
  animation: spin 1s;
}
.menu:hover .bottom {
  animation: spin 1s;
}
.dropdown {
  opacity: 0;
  a {
    margin: 10px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    padding-bottom: 30px;
  }
}
.menu:hover .dropdown {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 200px;
  background-color: black;
  margin-top: 10px;
  animation: opa 2s .5s forwards;
}

 .logo:hover {
   animation: rotate 2s linear;
 }

#water {
  position: fixed;
  bottom: 0;
  left: -200px;
  animation: right-wave 10s;
  animation-iteration-count: infinite;
  height: 10%;
}

#light-water {
  position: fixed;
  bottom: 1.5vw;
  left: -230px;
  animation: left-wave 10s;
  animation-iteration-count: infinite;
  height: 10%;
}

#lighter-water {
  position: fixed;
  bottom: 3vw;
  left: -200px;
  animation: right-wave 10s;
  animation-iteration-count: infinite;
  height: 10%;
}

#lightest-water {
  position: fixed;
  bottom: 4.5vw;
  left: -230px;
  animation: left-wave 10s;
  animation-iteration-count: infinite;
  height: 10%;
}

.cliff-guy {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  height: 50%
}

#guy {
  position: absolute;
  right: -32px;
  top: 0;
  height: 150px;
  animation: swing 2s linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}


#mount-1 {
  position: fixed;
  bottom: 0;
  left: 55vw;
  height: 50%
}

#mount-2 {
  position: fixed;
  bottom: 3vw;
  left: 35vw;
  height: 30%
}

#mount-3 {
  position: fixed;
  bottom: 3vw;
  left: 80vw;
  height: 30%
}

#mount-4 {
  position: fixed;
  bottom: 3vw;
  left: 25vw;
  height: 25%
}


#cloud-3 {
  position: fixed;
  top: 17%;
  animation: cloud-path 140s infinite;
}

#cloud-2 {
  position: fixed;
  top: 10%;
  animation: cloud-path2 150s infinite;
}

#cloud-1 {
  position: fixed;
  top: 25%;
  animation: cloud-path 120s infinite;
}

#bird-1 {
  position: fixed;
  top: 1%;
  width: 30px;
  animation: fly 15s linear infinite;
}

#bird-2 {
  position: fixed;
  top: 15%;
  width: 30px;
  animation: fly 12s linear infinite;
}

#bird-3 {
  top: 20%;
  position: fixed;
  width: 30px;
  animation: fly 9s linear infinite;
}

#fish-1 {
  position: fixed;
  width: 40px;
  left: 50vw;
  animation: jump 2s linear infinite;
  transform-origin: 0 300px;
  bottom: 20vh;

}

#fish-2 {
  position: fixed;
  width: 40px;
  left: 60vw;
  animation: jump 2.3s linear infinite;
  transform-origin: 0 300px;
  bottom: 20vh;
}

#fish-3 {
  position: fixed;
  width: 40px;
  left: 63vw;
  animation: jump 2.4s linear infinite;
  transform-origin: 0 300px;
  bottom: 20vh;
}
#shark {
  position: absolute;
  left: 320px;
  top: 50px;
  animation: hop 6s linear infinite;
}

#sun {
  position: fixed;
  right: 400px;
  animation: rise 60s linear infinite;
}

.background {
  background-color: #484e59;
  background-size: cover;
  position: fixed;
  animation: color 60s infinite;
  width: 150vw;
  height: 200vh;
  top: 0;
}

#stars {
  position: fixed;
  width: 100%;
  animation: night 60s infinite;
}

@keyframes fly {
  0% {
    transform: translateX(100vw) translateY(50vh);
  }
  100% {
    transform: translateX(-55vw) translateY(-55vh);
  }
}

@keyframes spin {
  0%{transform: rotateY(0deg);}
  100%{transform: rotateY(180deg);}
}

@keyframes opa {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes rotate {
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}

@keyframes right-wave {
  0% {transform:translateX(0);}
  50% {transform:translateX(65px);}
  100% {transform:translateX(0);}
}
@keyframes left-wave {
  0% {transform:translateX(0);}
  50% {transform:translateX(-65px);}
  100% {transform:translateX(0);}
}

@keyframes swing {
  0%{transform: rotateZ(5deg);}
  50%{transform: rotateZ(10deg);}
  100%{transform: rotateZ(5deg);}
}

@keyframes cloud-path {
  0% {transform:translateX(-55vw);}
  100% {transform:translateX(100vw);}
}

@keyframes cloud-path2 {
  0% {transform:translateX(100vw);}
  100% {transform:translateX(-55vw);}
}

@keyframes jump {
  0%{transform: rotateZ(90deg);}
  100%{transform: rotateZ(-90deg);}
}

@keyframes hop {
  0%{transform: translateY(800px);}
  5%{transform: translateY(600px);}
  10%{transform: translateY(400px);}
  15%{transform: translateY(300px);}
  20%{transform: translateY(200px);}
  25%{transform: translateY(150px);}
  30%{transform: translateY(125px);}
  35%{transform: translateY(110px);}
  40%{transform: translateY(105px);}
  45%{transform: translateY(102.5px);}
  50%{transform: translateY(100px);}
  55%{transform: translateY(102.5px);}
  60%{transform: translateY(105px);}
  65%{transform: translateY(110px);}
  70%{transform: translateY(125px);}
  75%{transform: translateY(150px);}
  80%{transform: translateY(200px);}
  85%{transform: translateY(300px);}
  90%{transform: translateY(400px);}
  95%{transform: translateY(600px);}
  100%{transform: translateY(800px);}
}
@keyframes rise {
  0%{transform: translateY(100vh);}
  5%{transform: translateY(100vh);}
  10%{transform: translateY(80vh);}
  15%{transform: translateY(55vh);}
  20%{transform: translateY(35vh);}
  25%{transform: translateY(20vh);}
  30%{transform: translateY(10vh);}
  35%{transform: translateY(5vh);}
  40%{transform: translateY(2.5vh);}
  45%{transform: translateY(1.25vh);}
  50%{transform: translateY(.625vh);}
  55%{transform: translateY(1.25vh);}
  60%{transform: translateY(2.5vh);}
  65%{transform: translateY(5vh);}
  70%{transform: translateY(10vh);}
  75%{transform: translateY(20vh);}
  80%{transform: translateY(35vh);}
  85%{transform: translateY(55vh);}
  90%{transform: translateY(80vh);}
  95%{transform: translateY(100vh);}
  100%{transform: translateY(100vh);}
}

@keyframes color {
  0%{opacity: 1;}
  25%{opacity: .2;}
  50%{opacity: 0;}
  75%{opacity: .2;}
  100%{opacity: 1;}
}

@keyframes night {
  0%{opacity: 1;}
  25%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 0;}
  100%{opacity: 1;}
}
